<style>
.name_input {
    width: 45vw;
}
</style>

<form method="post" action="name">
    <div class="input_names_container">
        <input type="text" name="first_name" class="name_input" placeholder=" First Name">
        <input type="text" name="last_name" class="name_input" placeholder=" Last Name">
    </div>
    <input type="submit">
</form>
