<form method="post" action="address">
    <link rel="stylesheet" type="text/css" href="/css/pg2.css">    
    <div class="address_container">
        <input type="hidden" name="first_name" value="<%=first_name%>" class="name_input">
        <input type="hidden" name="last_name" value="<%=last_name%>" class="name_input">
       <div class="address_input">
        <input type="text" name="street" class="street_input" placeholder="Street">
        <input type="text" name="city" class="city_input" placeholder="City">
        <input type="text" name="state" class="state_input" placeholder="State">
        <input type="text" name="zip" class="zip_input" placeholder="Zip Code">
        </div>
    </div>
     <div class="here">
    <button class="button">Go</button>
    </div>
</form>