.name_input {
    width: 13vw;
    border-bottom: none;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left: none;
    background: none;
    margin: 1vw;
    
}

form{
    width: 29vw;
    margin-left: 35vw;
}
::placeholder{
    color:black;
}

.here{
    padding: 2vw;
}
.button{
    padding: 2vw;
    height: 8vw;
    width: 8vw;
    border-radius: 50%;
    border-style: inset;
    border-color: silver;
    color: black;
    background-color: green;
    font-family: fantasy;
    font-size: 20;
}

input_submit{
    
}

.input_names_container{
    padding: 2vw;
    border-style: outset;
    border-radius: 100vw 1vw;
    background-image: url(https://images.pexels.com/photos/479453/pexels-photo-479453.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    margin-top: 75;
    box-shadow: 5px 10px;
}



